/ForExample.class
/ForExample2.class
/ForExample3.class
/IfExample.class
/IfExample2.class
/IfExample3.class
/SwitchExample.class
/WhileExample.class
/WhileExample2.class
/WhileExample3.class
/WhileExample4.class
/WhileExample5.class
/Exercise03.class
/Exercise04.class
/Exercise05.class
/Exercise06.class
/Exercise07.class
/DoWhileExample.class
/Exercise07_1.class
/Exercise08.class
/ForExample4.class
/ForInForExample.class
